<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/Utils/bootstrap.php"
         colors="true"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Src">
            <directory suffix="Test.php">./tests/Src</directory>
        </testsuite>

    </testsuites>
    
    <!-- <listeners>
        <listener class="Tests\TestListener" file="tests/TestListener.php"/>
    </listeners> -->
    
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <server name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/>
        <!-- <server name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/> -->
        <!-- <server name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/> -->
        <server name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/>
        <server name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/>

    </php>

</phpunit>
