# Phpqa copia este fichero de configuracion y lo ejecuta desde el directorio "build"
# currentWorkingDirectory es donde se ejecuta phpstan, en este caso desde ./
{
    parameters: {
        reportUnmatchedIgnoredErrors: false
        tmpDir: %currentWorkingDirectory%/tools/tmp
        excludePaths: [
            %currentWorkingDirectory%/src/Shared/Laravel/Console/CustomCommands/Dao,
            %currentWorkingDirectory%/qa,
            %currentWorkingDirectory%/storage,
            %currentWorkingDirectory%/public,
            %currentWorkingDirectory%/tests
        ]
        ignoreErrors: [
            '#Call to an undefined method [a-zA-Z\\_]+Collection::[a-zA-Z\\_]+\(\)#', # Cualquier método de las colecciones
            '#Call to an undefined method Src\\Utils\\Foundation\\BaseEntity\\BaseEntity::[a-zA-Z\\_]+\(\)#', 
            '#Call to an undefined method Faker\\Generator::[a-zA-Z\\_]+\(\)#', # Cualquier método añadido en el CustomFakerProvider va a dar error
            '#Call to an undefined method Illuminate\\Database\\[a-zA-Z\\_:<>\|]+\(\)#' # Cualquier método definido en Illuminate\Database
        ]
    }
}